<div class="container" style="width: 400px; margin-top: 150px;">

  <form class="form-signin">
    <h2 class="form-signin-heading" style="color: #fff">Please sign in</h2>
    <input type="text" class="input-block-level" placeholder="Email address">
    <input type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox" style="color: #fff">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit" ng-click="signIn()">Sign in</button>
  </form>

</div>